:root {
  --bg-color: #0c0a09;
  --text-color: #a1a1aa;
  --primary-color: #9ca3af;
  --highlight: #d6d3d1;
  --highlight2: #ef4444;
  --bg-color2: #a8a29e;
  --bg-color3: #ccfbf1;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.about,
.projects,
.contact {
  margin: 80px 45px;
}

.contact p,
.projects,
.footer,
.contact,
.about {
  font-size: 1.1rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  gap: 20px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: var(--bg-color);
}
.navigation .nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: none;
  border-bottom: 1px solid var(--bg-color3);
  border-top: 1px solid var(--bg-color);
  background: none;
  color: var(--bg-color3);
  width: 75px;
  font-size: 1rem;
  transition: 0.5s;
  cursor: pointer;
}
.navigation .nav-btn:hover {
  width: 85px;
  border-top: 1px solid var(--bg-color3);
  transition: 0.8s;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 4px;
  color: var(--highlight);
  font-size: 1.8rem;
  margin: 10px 45px;
}
.introduction div:nth-child(1) p:nth-child(1) {
  font-size: 1.1rem;
}
.introduction div:nth-child(1),
.introduction div:nth-child(2) {
  margin-bottom: 10px;
}
.introduction div:nth-child(1) a {
  color: var(--highlight2);
}
.introduction div:nth-child(2) p:nth-child(1) {
  font-size: 1.15rem;
}
.introduction .btn,
.footer .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  color: var(--highlight);
  font-size: 1rem;
  border-radius: 20px;
  padding: 12px;
  width: 150px;
  border: 1px solid var(--text-color);
  cursor: pointer;
  transition: 0.4s;
}
.introduction .btn:hover {
  background-color: var(--highlight2);
  width: 170px;
  transition: 0.5s;
}
.footer .btn:hover {
  background-color: var(--bg-color3);
  width: 170px;
  transition: 0.5s;
  color: black;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6px;
}
.about a,
.projects a {
  color: var(--highlight2);
}
.about img {
  height: 50px;
  width: 50px;
  transition: 0.5s;
}
.about img:hover {
  height: 53px;
  width: 53px;
  transition: 0.5s;
}

.section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 2rem;
  color: var(--highlight);
  border-radius: 10px;
  border-bottom: 2px solid var(--highlight);
  margin-bottom: 20px;
}

.skills {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  color: var(--highlight);
  align-self: center;
  flex-wrap: wrap;
}
.skills div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 600px;
  width: 100%;
}
.project-slider div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.project-slider div p:first-child {
  font-size: 1.8rem;
  color: var(--highlight);
}
.project-slider div a {
  color: var(--bg-color3);
}
.project-slider img {
  width: 350px;
  border: 1px solid var(--highlight);
}
.projects .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  padding: 10px;
  background: none;
  border: none;
  color: var(--highlight);
  transition: 0.2s;
  cursor: pointer;
}
.projects .btns button:hover {
  border-bottom: 1px solid var(--bg-color3);
  width: 90px;
  transition: 0.2s;
}
.projects .slider {
  display: grid;
  height: 20px;
  width: 35vw;
  align-self: center;
  border: 1px solid var(--bg-color3);
  border-radius: 20px;
}
.slider_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .slider div {
  background-color: var(--bg-color);
  transition: 0.5s;
}
.projects .slider div:first-child {
  border-radius: 20px 0px 0px 20px;
}
.projects .slider div:last-child {
  border-radius: 0px 20px 20px 0px;
}
.projects .slider .active {
  background-color: var(--highlight2);
  transition: 0.5s;
}
.contact a {
  color: var(--highlight2);
}
.contact-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-info a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--highlight);
  font-size: 1.3rem;
  border-bottom: 1px solid var(--highlight);
}
.contact-info a img {
  height: 70px;
  width: 70px;
  margin-left: 0px;
  transition: 0.8s;
}
.contact-info a img:hover {
  margin-left: 10px;
  transition: 0.8s;
}
.contact-info a p {
  font-size: 1.1rem;
  transition: 0.8s;
}
.contact-info a p:hover {
  font-size: 1.15rem;
  transition: 0.8s;
}
.footer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--bg-color3);
  gap: 20px;
  padding: 30px 0px;
  width: 100%;
}
.footer a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img {
  height: 40px;
  margin-left: 4px;
  transition: 0.8s;
}
.footer img:hover {
  margin-left: 10px;
  transition: 0.8s;
}

@media screen and (min-width: 900px) {
  .introduction {
    font-size: 2.2rem;
  }
  .introduction div:nth-child(1) p:nth-child(1) {
    font-size: 1.3rem;
  }
  .introduction div:nth-child(2) p:nth-child(1) {
    font-size: 1.8rem;
  }
  .introduction .btn,
  .footer .btn {
    font-size: 1.2rem;
    width: 180px;
  }
  .introduction .btn:hover,
  .footer .btn:hover {
    width: 200px;
    transition: 0.5s;
  }

  .navigation {
    gap: 50px;
    padding: 30px;
  }
  .navigation .nav-btn {
    padding: 10px;
    width: 90px;
    font-size: 1.2rem;
  }
  .navigation .nav-btn:hover {
    width: 100px;
  }

  .contact p,
  .projects,
  .footer,
  .contact,
  .about {
    font-size: 1.25rem;
  }

  .skills {
    margin-top: 50px;
    font-size: 1.3rem;
  }

  .about img {
    height: 60px;
    width: 60px;
  }
  .about img:hover {
    height: 66px;
    width: 66px;
  }

  .project-slider img {
    width: 500px;
  }
  .project-slider {
    height: 700px;
  }

  .contact-info {
    margin-top: 50px;
  }
  .contact-info a img {
    height: 100px;
    width: 100px;
  }
  .contact-info a img:hover {
    margin-left: 30px;
  }
  .contact-info a p {
    font-size: 1.5rem;
  }
  .contact-info a p:hover {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    max-width: 1200px;
  }

  .introduction {
    font-size: 2.8rem;
  }
  .introduction div:nth-child(1) p:nth-child(1) {
    font-size: 1.5rem;
  }
  .introduction div:nth-child(2) p:nth-child(1) {
    font-size: 1.8rem;
  }
  .introduction .btn,
  .footer .btn {
    font-size: 1.4rem;
    width: 200px;
  }
  .introduction .btn:hover,
  .footer .btn:hover {
    width: 220px;
    transition: 0.5s;
  }

  .contact p,
  .projects,
  .footer,
  .contact,
  .about {
    font-size: 1.4rem;
  }

  .navigation {
    gap: 60px;
    padding: 30px;
  }
  .navigation .nav-btn {
    padding: 10px;
    width: 90px;
    font-size: 1.25rem;
  }
  .navigation .nav-btn:hover {
    width: 100px;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
  .about .paras {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    justify-content: center;
    align-items: center;
    gap: 0px;
    font-size: 1.2rem;
  }
  .skills div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-slider img {
    width: 570px;
  }
  .projects {
    gap: 20px;
  }
  .project-slider {
    height: 800px;
  }
  .project-slider div {
    gap: 10px;
  }
  .project-slider div p:first-child {
    font-size: 2.2rem;
  }
  .projects .btns button {
    height: 40px;
    font-size: 1.5rem;
  }
  .projects .btns button:hover {
    font-size: 1.6rem;
  }

  .contact-info {
    margin-top: 60px;
  }
  .contact-info a img {
    height: 110px;
    width: 110px;
  }
  .contact-info a img:hover {
    margin-left: 40px;
  }
  .contact-info a p {
    font-size: 1.55rem;
  }
  .contact-info a p:hover {
    font-size: 1.65rem;
  }
}
